# Arquivos locais
docs/
registros/
imagens/*
!imagens/hash_id_*
!imagens/generic_usecase_banner.png

# Lixo 
analises/__pycache__
analises/.ipynb_checkpoints
codigo/__pycache__

# Não inclusos
codigo/env

# Dados internos
dados/*
!dados/brutos
!dados/limpos
!dados/curados
dados/limpos/*
!dados/limpos/usecases_current.json

