# Arquivos locais
docs/
registros/
imagens/*
!imagens/hash_id_*

# Lixo 
analises/__pycache__
analises/.ipynb_checkpoints

# Não inclusos
codigo/env

# Dados internos
dados/*
!dados/brutos
!dados/limpos
!dados/curados
dados/limpos/*
!dados/limpos/usecases_current.json

