# Arquivos locais
docs/
registros/

# Lixo 
analises/__pycache__
analises/.ipynb_checkpoints

# Não inclusos

# Dados internos
dados/*
!dados/limpos
dados/limpos/*
!dados/limpos/usecases_current.json

